html, body {

margin:0;

padding:0;

}

ul {
  display: inline-block
}

li {
  list-style: none;
  padding: 10px;
  float: left; 
  position: relative;
}

nav {
  width: 100%;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: cornflowerblue;
  padding: 20px;
}

.nav-bar-center{
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  padding: 20px;
}

.learn-more {
  background-color: cornsilk;
  padding: 10px;
  border-radius: 100px;
}

.sign-up {
  background-color: honeydew;
  padding: 10px;
  border-radius: 100px;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}

ul.drop-menu li {
  color: #FFF;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: honeydew;
  color: black;
  width: 100%;
  z-index: 1;
}

ul.drop-menu li:hover {
  background: #606060;
}

li:hover > ul.drop-menu li {
  display: block;
}

@media (max-width: 500px) {
  .nav-bar {
    flex-direction: column;
  }
}