.first-bar {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 20px;
}

.second-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  padding: 40px;
}

.third-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  padding: 30px;
}

.nav-item {
  margin: 10px;
}

.learn-more {
  background-color: cornsilk;
  padding: 10px;
  border-radius: 100px;
}

.sign-up {
  background-color: honeydew;
  padding: 10px;
  border-radius: 100px;
}

@media (max-width: 500px) {
  .first-bar {
    flex-direction: column;
  }
}